.jumbotron {
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 20px;
}

.animalButton {
	background-color: #6E62B3;
	color: white;
	margin: 5px;
	/*padding-right: 5px;
	padding-left: 5px;*/
}

.gifImageClass {
	float: left;
	padding-left: 10px;
}

.greenAppleButton {
	background-color: green;
}

.blueButterflyButton {
	background-color: blue;
}

.pinkSkullButton {
	background-color: pink;
	color: black;
}

span {
	font-size: 15px;
	line-height: 0.5;
}